body {
    background-color: rgb(233, 243, 233);
}

.my-logo {
    margin: 20px 30px;
display: flex;
}

.my-logo img {
    margin: 10px 20px;
height: 100px;
width: 90px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(6, 212, 6);
}

.prev-btn{
    /*線の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    color: #333;
    margin: 40px 50px;
    padding: 10px 40px;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition: all .4s;
    transition-delay: .8s;/*0.8秒遅れてアニメーション*/
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.prev-btn:hover{
	background:rgb(32, 31, 31);
	color: white;
}

/*線の設定*/
.prev-btn span{
    display: block;
}

/*縦線の設定*/
.prev-btn span::before,
.prev-btn span::after{
    content:"";
    /*絶対配置で線の位置を決める*/   
    position: absolute;
    /*線の形状*/
    width:1px;
    height:0;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*横線の設定*/
.prev-btn::before,
.prev-btn::after{
    content:"";
    /*絶対配置で線の位置を決める*/   
    position: absolute;
    /*線の形状*/   
    width: 0;
    height: 1px;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}



/*hoverした際、線が縦横100%伸びる*/
.prev-btn:hover span::before,
.prev-btn:hover span::after{
    height: 100%;
}

.prev-btn:hover::before,
.prev-btn:hover::after{
    width: 100%;
}

/*== 左下⇒右下⇒右上⇒左上⇒左下に枠線が伸びて塗りに */

/*左下から右下へ伸びる横線*/
.border::after{
    left: 0;
    bottom: 0;
}

/*右下から上へ伸びる縦線*/
.border span::after{
    right: 0;
    bottom: 0;
    transition-delay: 0.2s;
}

/*右上から左上へ伸びる横線*/
.border::before{
    right: 0;
    top: 0;
    transition-delay: 0.4s;
}

/*左上から左下へ伸びる横線*/
.border span::before{
    left: 0;
    top: 0;
    transition-delay: 0.6s;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
}


.box {
margin: 50px auto 0;
max-width: 50vw;

}

.main {
    height: 1004px;
    width: 100%;
}

.main img {
    height: 100%;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}

.sub {
    display: flex;
}

.sub li {
    margin-right: 2%;
    height: 30vh;
    width: calc(96% / 3);
    border: 2px solid black;
}

.sub li:nth-child(3n) {
    margin-right: 0;
}

.sub {
    border: 2px solid black;
    margin-top: 100px;
   
}
.sub img {
    height: 100%;
    width: 100%;
}

@media (max-width: 500px) {
    .main {
        height: 68.8vw;
    }
    .sub img {
        height: 21.4vw;
    }
}