body {
    background-image: url("../img/04-polish-wood.png");
}

.my-logo {
    margin: 20px 30px;
    display: flex;
    position: fixed;
}

.my-logo img {
    margin: 10px 20px;
    height: 100px;
    width: 90px;
}

a {
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 15px 0px #444447;
}

/*ボタンをクリックしたときに沈むようにする処理*/
a:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}

/*TOPへ戻るボタン*/
.prev-btn{
    position: relative;
    display: inline-block;
    color: #333;
    top: 10vh;
    left: 1%;
    margin: 40px 50px;
    padding: 10px 40px;
    background-color: rgb(233, 233, 233);
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition: all .4s;
    transition-delay: .8s; /*0.8秒遅れてアニメーションスタート*/
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.prev-btn:hover{
	background:rgb(32, 31, 31);
	color: white;
}

/*線のdisplay設定*/
.prev-btn span{
    display: block;
}

/*縦線の設定*/
.prev-btn span::before,
.prev-btn span::after{
    content:"";
    /*絶対配置で線の位置を決める*/   
    position: absolute;
    /*線の形状*/
    width:1px;
    height:0;
    background: #333;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*横線の設定*/
.prev-btn::before,
.prev-btn::after{
    content:"";
    /*絶対配置で線の位置を固定*/   
    position: absolute;
    /*線の形状*/   
    width: 0;
    height: 1px;
    background: #333;
    /*transitionでアニメーションの詳細をs指定*/
    transition: all 0.2s linear;
}

/*hoverした際、線が縦に100%伸びる*/
.prev-btn:hover span::before,
.prev-btn:hover span::after{
    height: 100%;
}

/*hoverした際、線が横に100%伸びる*/
.prev-btn:hover::before,
.prev-btn:hover::after{
    width: 100%;
}

/*左下から右下へ伸びる横線*/
.border::after{
    left: 0;
    bottom: 0;
}

/*右下から上へ伸びる縦線*/
.border span::after{
    right: 0;
    bottom: 0;
    transition-delay: 0.1s;
}

/*右上から左上へ伸びる横線*/
.border::before{
    right: 0;
    top: 0;
    transition-delay: 0.4s;
}

/*左上から左下へ伸びる横線*/
.border span::before{
    left: 0;
    top: 0;
    transition-delay: 0.6s;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.title-message {
    position: relative;
    top: 13vh;
    left: 3vw;
}

.title-message h1 {
    font-size: 3.2em;
}


.box {
    margin: 60px auto 0;
    max-width: 50vw;
}

h2 {
    font-size: 1em;
}

.main {
    height: 50%;
    width: 100%;
}

.main img {
    height: 100%;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}

.sub {
    display: flex;
}

.sub li {
    margin-right: 2%;
    height: 30vh;
    width: calc(96% / 3);
    border: 2px solid black;
    background-color: white;;
}

.sub li:nth-child(3n) {
    margin-right: 0;
}

.sub {
    margin-top: 100px;
}

.sub p {
    font-size: 1em;
}
.sub img {
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 15px 0px #444447;
}

@media (max-width: 500px) {
    .main {
        height: 68.8vw;
    }
    .sub img {
        height: 21.4vw;
    }
}

.gaiyou {
    color: rgb(61, 60, 60);
    font-size: 2em;
    margin: 40vh 0 10vh;
    text-align: center;
}

.copyright {
    text-align: center;
    margin-top: 40vh;
}

/*1.フェードインアニメーションの指定*/
.scroll {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}
