
.header-main {
    display: flex;
    height: 55px;
    padding: 0px 66px;
    align-items: center;
    color:aquamarine;
    background-color: transparent;
}

.header-main h1 {
    padding-top: 50px;
}

.header-main .nav-menu-top {
    margin-left: auto;
}

.header-main ul {
    list-style: none;
    /*リストを横並びに配置する*/
    display: flex;
}

.header-main ul li {
    margin: 0 0 0 17px;
    font-size: 20px;
}

.header-sub {
    display: flex;
    height: 55px;
    padding: 0px 66px;
    align-items: right;
    color: white;
    background-color: transparent;
}

.header-sub .nav-menu-under {
    /*タイトル以外のナビゲーション項目は全て右寄せに*/
    margin-left: auto;
}

.header-sub ul {
    list-style: none;
    display: flex;
}

.header-sub ul li {
    margin: 0 0 0 17px;
    font-size: 12px;
}

.top {
    color: white;
    height: 88vh;
    text-align: center;
    /*背景画像の設定*/
    background-size: cover;
    /*背景画像は固定に*/
    background-attachment: fixed;
    background-position: center;
}

.top h2 {
    padding-top: 200px;
}

.content-1 {
    height: 60vh;
    background-color: rgb(215, 235, 184);
}

#introduction {
    padding: 200px;
    background-color: rgb(221, 215, 215);
}

#introduction h1 {
    font-size: 40px;
}

.career {
    padding-top: 20px;
}

.vision {
    /*画面サイズが狭ければ、背景の写真にあるホワイトボードの中に
    文字が収まるようにpaddingを調整してみた*/
    padding: 440px 390px 770px 350px;

    text-align: center;
    /*背景画像の設定*/
    background-size: cover;
    /*背景画像は固定に*/
    background-position: center;
}

#design {
    height: 1400px;
    background-color: rgb(255, 246, 249);
    display: flex;
}

#design h1 {
    max-width: 400px;
    padding: 200px 50px 0px 130px;
    font-size: 70px;
}

#design h2 {
    font-size: 50px;
    padding-left: 130px;
}

#movie-creation {
    max-height: 1200px;
    background-color: rgb(176, 218, 247);
}

#movie-creation h1 {
    max-width: 400px;
    padding: 200px 50px 0px 130px;
    font-size: 70px;
}

#movie-creation h2 {
    font-size: 50px;
    padding-left: 130px;
}

#website-design {
    height: 200vh;
    background-color: rgb(168, 240, 218);
}

#website-design h1 {
    max-width: 400px;
    padding: 200px 50px 0px 130px;
    font-size: 70px;
}

#website-design h2 {
    font-size: 50px;
    padding-left: 130px;
}

.design-images {
    display: flex;
    justify-content: center;
    padding: 200px 0px 0px 0px;
}

#post1-2 {
    padding-top: 260px;
}

#post1-3 {
    padding-top: 520px;
}

.design-content{
    max-width: 100vh;
    height: 400px;
    float: left;
    margin: 0 20px 10px 0;
}

.design-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.movie-images {
    display: flex;
    justify-content: center;
    padding: 180px 81px 300px 81px;
}

.movie-content{
    max-width: 400px;
    max-height: 400px;
    float: left;
    margin: 0 40px 10px 0;
}

.movie-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.website-images {
    justify-content: center;
    padding: 30px 81px 100px 81px;
}


#post3-1 {
    float: right;
}

#post3-2 {
    float: left;
}

#post3-3 {
    float: right; 
}

.web-content{
    max-width: 800px;
    max-height: 800px;
    margin: 0 40px 120px 0;
}

.web-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100vh;
    max-height: 100vh;
    object-fit: cover;
    vertical-align: middle;
}