* {
    margin: 0;
    padding: 0;
    
}

.header-main {
    display: flex;
    height: 10vh;
    padding: 0px 66px;
    align-items: center;
    color:aquamarine;
    background-color: transparent;
    position: relative;
    max-width: 100%;
}

.header-sub {
    display: flex;
    height: 55px;
    padding: 0px 66px;
    align-items: right;
    color: black;
    background-color: transparent;
}

.header-main h1 {
    padding-top: 50px;
}

.logo-link {
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*リンクの形状*/
	display:inline-block;
    text-decoration: none;
    
    outline: none;
}

/*波形の設定*/
.logo-link:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:30%;
    top:0;
    /*波形の形状*/
    border: 10px solid rgb(13, 218, 245);
    width: 78px;
    height: 78px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}

.logo-link:active {
    position: relative;
    top: 4px;
}

/*波形が広がるアニメーション*/
@keyframes circleanime{
	0%{
	  transform: scale(0);
	}
	100%{
		transform:scale(3);
		opacity: 0;
	}
}

.my-logo {
    margin-top: 300px;
    margin-left: auto;
    text-align: center;
}



.header-main ul {
    margin-left: 700px;
    list-style: none;
    /*リストを横並びに配置する*/
    display: flex;
    align-items: right;
}

.header-main ul li {
    margin: 0 0 0 19px;
    font-size: 36px;
}

.header-main ul li a {
    /*relativeを指定*/
	display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.header-main ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: cyan;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

/*現在地とhoverの設定*/
.header-main ul li a:hover::after {
    transform: scale(1, 1); /*xは１に設定（２に設定すると、隣まで影響を受ける）*/
}

.header-main ul li a:active {
    position: relative;
    top: 4px;
}

.header-sub > ul > li a:hover{
    color: cyan;
}

.header-sub .nav-menu-under {
    /*タイトル以外のナビゲーション項目は全て右寄せに*/
    margin-left: auto;
}

.header-sub ul {
    list-style: none;
    display: flex;
}

.header-sub ul li {
    margin: 0 0 0 17px;
    font-size: 20px;
}

.menu-btn {
    display: none;  /*最初は非表示にしておく*/
    position: fixed;
    top: 50px;
	right: 50px;
	z-index: 999;
    /*ボタンの形状*/
	background:rgba(11, 8, 27, 0.322);
	cursor: pointer;
    width: 100px;
    height: 100px;
	border-radius: 16px;
}

/*ハンバーガーメニューボタンの見た目設定*/
.menu-btn span{
    display: inline-block;
    transition: all .5s;
    position: absolute;
    left: 15px;
    height: 6px;
    border-radius: 3px;
	background-color: white;
  	width: 48%;
  }

.menu-btn span:nth-of-type(1) {
	top: 30px;	
    left: 25px;
}

.menu-btn:active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);
    left: 10px;
}

.menu-btn span:nth-of-type(2) {
	top: 50px;
    left: 25px;
}

.menu-btn:active span:nth-of-type(2) {
    opacity: 0;
}

.menu-btn span:nth-of-type(3) {
	top: 70px;
    left: 25px;
}

.menu-btn:active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);
    left: 10px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.menu-btn.active span:nth-of-type(1) {
    top: 40px;
    left: 12px;
    transform: translateY(6px) rotate(-45deg);
    width: 73%;
}

.menu-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.menu-btn.active span:nth-of-type(3){
    top: 50px;
    left: 12px;
    transform: translateY(-6px) rotate(45deg);
    width: 73%;
}

/*fadeOutクラスが付与された後のボタンの出現アニメーション設定*/
.fadeOut {
    animation-name: fadeDownAnime;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}


@keyframes fadeDownAnime{
  from {
    opacity: 0;
	transform: translateY(-100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*.doneクラスがついたヘッダー*/
.header-main.dnone {
	opacity: 0;/*透過0で非表示にする*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
.header-main.dnone.action {
	opacity: 1;/*不透明にする*/
}


/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
.header-main.dnone .nav-menu-top{
    position:fixed;
	top: 0;
    left: 0;
    /*最背面に持ってくる*/
	z-index: -1;
	height: 110vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    opacity: 0;
	transition: all 0.2s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
.header-main.dnone.action .nav-menu-top{
	opacity: 1;/*不透明に*/
	z-index:3;/*最前面に*/
	background: rgba(179, 245, 196, 0.95);
    width: 100%;
}

.header-main.dnone.action .nav-menu-top ul{
	display:block;  /*これを設定することでいままで横並びだったのが、縦並びに変化する*/
}

.header-main.dnone.action .nav-menu-top li a{
	color: black;
	text-decoration: none;
	padding:30px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	transition:all 0.5s;
}

.header-main.dnone.action .nav-menu-top li a::after{
	background-color: tomato;
    height: 20px;
}


.top {
    color: white;
    height: 88vh;
    font-size: 40px;
    text-align: center;
    /*背景画像の設定*/
    background-size: cover;
    /*背景画像は固定に*/
    background-attachment: fixed;
    background-position: center;
}

.top h2 {
    padding-top: 200px;
}

.content-1 {
    height: 60vh;
    background-color: white;
}

#introduction {
    padding: 200px;
    background-color: rgba(69, 73, 114, 0.5);
    max-width: 100%;
    color: black;
}

#introduction h1 {
    font-size: 40px;
}

.career {
    padding-top: 20px;
}

.vision {
    /*画面サイズが狭ければ、背景の写真にあるホワイトボードの中に
    文字が収まるようにpaddingを調整してみた*/
    padding: 440px 70vh 68vh;
    text-align: center;
    /*背景画像の設定*/
    background-size: cover;
    /*背景画像は固定に*/
    background-position: center;
}

.vision h2 {
    max-width: 93%;
}

#design {
    height: 300vh;
    /*border: 10px solid rgb(253, 188, 210);*/
    display: flex;
    width: 100%;
}

#design-title {
    color: white;
    max-width: 90vh;
    padding: 0 70px;
    background-color: rgb(26, 23, 24);
}


#design h1 {
    max-width: 50vh;
    padding: 200px 30px 0px 130px;
    margin-right: 100px;
    font-size: 4em;
}

#design h2 {
    font-size: 3em;
    padding: 10px 33px;
}


#movie-creation {
    max-height: 600vh;
    /*background-color: rgb(176, 218, 247);*/
    /*border: 10px solid rgb(176, 218, 247);*/
    background-color: black;
}

#movie-creation-title {
    padding: 13em;
    background-color: rgb(230, 239, 243);
}

#movie-creation h1 {
    max-width: 27rem;
    position: relative;
    top: 10px;
    left: 130px;
    padding: 0 180px 0 180px;
    font-size: 5em;
}

#movie-creation h2 {
    font-size: 3em;
    padding-left: 130px;
}

#website-design {
    height: 250vh;
    border: 10px solid rgb(195, 248, 232);
}

#website-design-title {
    max-width: 30%;
    padding-bottom: 10vh;
    background-color: rgb(168, 240, 218);
}

#website-design h1 {
    max-width: 40vh;
    padding: 200px 50px 0px 130px;
    font-size: 5em;
}

#website-design h2 {
    font-size: 3em;
    padding-left: 130px;
}

.design-images {
    display: flex;
    justify-content: center;
    padding: 200px 0px 100px 0px;
    width: 100%;
}

.design-images p {
    font-size: 38px;
    color: black;
}

#post1-2 {
    padding-top: 660px;
}

#post1-3 {
    padding-top: 1320px;
}

.design-content{
    max-width: 40vh;
    max-height: 90vh;
    float: left;
    margin: 0 20px 10px 50px;
    position: relative;
    text-align: center;
}

.design-content p {
    margin-top: 80px;
    text-align: center;
}

.design-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border: 2px solid black;
    box-shadow: 20px 18px 18px 20px #0f0f1893;
}

.design-content img:active {
    box-shadow: none;
    position: relative;
    left: 14px;
    top: 12px;
}

.design-content .linkbutton {
    margin-top: 80px;
    margin-left: 60px;
}

.movie-images {
    display: flex;
    justify-content: center;
    padding: 180px 81px 300px 81px;
}

.movie-images p {
    font-size: 38px;
    padding: 4.2rem 10rem 0 0;
    color: white;
}

.movie-content{
    border: 5px solid white;
    max-width: 100vh;
    height: 50em;
    float: left;
    margin: 0 40px 10px 0;
    position: relative;
    text-align: center;
}

.movie-content p {
    margin-top: 0px;
    text-align: center;
}

.movie-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    border: 5px solid white;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.movie-content .linkbutton {
    border: 5px solid white;
    margin: 120px 0 0 180px;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: whitesmoke;
}

.website-images {
    justify-content: center;
    padding: 30px 81px 100px 81px;
}

#post3-1 {
    float: right;
    padding-right: 30vh;
}

#post3-2 {
    float: left;
}

#post3-3 {
    float: right; 
}

.web-content{
    max-width: 100vh;
    max-height: 100%;
    margin: 0 40px 120px 0;
    display: flex;
    position: relative;
}

.web-content img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 20px 18px 18px 20px #0f0f1893;
}

.web-content img:active {
    box-shadow: none;
    position: relative;
    left: 14px;
    top: 12px;
}

.website1  p {
    font-size: 60px;
    width: 28rem; 
    height: 4rem;
    
}

.website2  p{
    font-size: 60px;
    width: 28rem; 
    height: 4rem;
    padding-left: 100px;
}

.website3 p {
    font-size: 60px;
    width: 28rem; 
    height: 4rem;
    position: absolute;
    right: 32em;
    top: 2em;
}

#web-content-message {
    width: 800px;
}

#viewmore1 {  
    position: absolute;
    bottom: 2rem;
    right: 63em;
    width: 10rem;
}

#viewmore2 {
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    left: 60em;
}

#viewmore3 {
    width: 10rem;
    position: absolute;
    top: 45vh;
    right: 125vh;
}

#gallery:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:45%;
    top:0;
    /*波形の形状*/
    border: 8px solid rgb(13, 218, 245);
    width: 300px;
    height: 300px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}

#gallery-2:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:45%;
    top:37%;
    /*波形の形状*/
    border: 8px solid rgb(13, 218, 245);
    width: 300px;
    height: 300px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}

#gallery-3:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:45%;
    bottom: 30%;
    /*波形の形状*/
    border: 8px solid rgb(13, 218, 245);
    width: 300px;
    height: 300px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}


.Page-Btn{
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 80px;
    height: 80px;
    line-height: 32px;
    padding: 55px 39px 10px;
    text-align: center;
    border-radius: 50%;
    background: #5bc8ac;
    box-shadow: 10px 10px 15px 0px #444447;
  }

.Page-Btn img {
    margin-top: 50px;
}

.Page-Btn > a {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    display: block;

    
}

.Page-Btn > a:hover {
    color: yellow;
}

.Page-Btn > a:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:20%;
    top:0;
    /*波形の形状*/
    border: 8px solid rgb(241, 245, 13);
    width: 60px;
    height: 60px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}

.Page-Btn > a:active {
    box-shadow: none;
    position: relative;
    top: 4px;
}

footer {
    width: 100%;
    height: 250px;
    padding-top: 6px;
    margin-top: 140px;
    background-color: rgb(0, 8, 44);
    text-align: center;
    color: gray;
    bottom: 0; /*下に固定*/
}

.footer-message {
    text-align: center;
}

.footer-logo {
    font-size: 28px;
    
}


footer ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin-left: 44%;
}

footer ul li {
    margin: 20px 24px;
}

footer a {
    /*波紋の基点とするためrelativeを指定*/
	position: relative;
    /*リンクの形状*/
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*波形の設定*/
footer a:hover::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left:30%;
    top:0;
    /*波形の形状*/
    border: 8px solid rgb(13, 218, 245);
    width: 30px;
    height: 30px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime forwards;
}

footer a:active {
    position: relative;
    top: 4px;
}

.link-message {
    font-size: 30px;
}

i {
    font-size: 40px;
    margin-right: 20px;
}

.copyright {
    margin: 0;
    padding: 70px 0 0 0;
}


/*1.フェードインアニメーションの指定*/
.scroll {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}