* {
    margin: 0;
    padding: 0;
    max-width:  100%;
}

a {	
    text-decoration: none;
    color: white;
 }

.header-main {
    display: flex;
    height: 55px;
    padding: 0px 66px;
    align-items: center;
    color:aquamarine;
}

.header-main .nav-menu-top {
    margin-left: auto;
}

.header-main ul {
    list-style: none;
    display: flex;
}

.header-main ul li {
    margin: 0 0 0 17px;
    font-size: 20px;
}

.header-sub {
    display: flex;
    height: 55px;
    padding: 0px 66px;
    align-items: right;
    color: white;
}

.header-sub .nav-menu-under {
    margin-left: auto;
}

.header-sub ul {
    list-style: none;
    display: flex;
}

.header-sub ul li {
    margin: 0 0 0 17px;
    font-size: 12px;
}

#background-1 {
    background-image: url("img/aurora_2.jpg");
}